body {
color: green;
	background: url(4.jpg) ;
	background-attachment:fixed;
	background-position:center;
 }

.top{
		position: absolute;
			min-width: 1280px;
	box-shadow: 0 0 0px rgba(0,0,0,0.9);
	background-color: rgba(30, 30, 30, 0.9);
	height: 90px;
	margin-left: 30px;
	margin-right: 30px;
		margin-top: 0px;
		width: 100%;
		margin-left: -8px;
				font-family: 'Times New Roman', Times, serif;
}

.gl a{
	font-size: 24px;
	color: green;
	text-decoration:none;
	margin-left: 10px;
}

.logo{
	color: 	green;
text-transform: uppercase;
font-weight: 800;
	font-size: 24px;
	cursor: pointer;
margin-left: 12%;
margin-right: 30px;
}

.button{
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bolder;
background-color: rgb(25, 25, 25);
border-radius: 10px;
color: green;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
margin-bottom: 4px;
}

.content{
	padding: 20px;
	position: absolute;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	margin-top: 110px;
margin-left: 30px;
margin-right: 30px;
	font-size: 20px;
	background: rgba(30, 30, 30, 0.94);
		font-family: 'Times New Roman', Times, serif;
}
.content content{
	font-size: 26px;
}
.content content p a, .content content li a{
	color: #32CD32;
}

.map{
	margin-top: 100px;
}
footer{
	background-color: rgba(30, 30, 30, 1);
	position: fixed;
	display: flex;
	min-height: 50px;
bottom: 0;
width: 100%;
height: 60px;
margin-left: -8px;
	color: green;
}

.footer{
	margin-top:
}
.footer p{
	margin-top: 20PX;
	margin-left: 40%;
}

.fig{
text-align:center;
}
ul{
	margin-left:20px;
	margin-top: 10px;
}

figure {
    display: inline-block;
    padding: 2px;
    margin: 0 1em 0 0;
    vertical-align: top;
   }
   figcaption {
    text-align: center;
   }
